# main dependencies
langchain
langchain_community
langgraph
langchain-openai
langchain-chroma

# third party dependencies
bs4
faiss-cpu
#faiss-gpu

# extra dependencies
python-dotenv

# test dependencies
pytest

# format dependencies
black
